
@media (max-width:768px) {
    
  
    body{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #fff;
        overflow-x: hidden; 
    }
    .container{
        display: grid;
        grid-template-rows: repeat(6, auto);
        margin: 0 .5rem;
        margin: 0;
    }
    
    
    
    .address{
        display: none;
    }
    
    
    
    .navigation{
        background-color: #fff;
        margin: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        top: 0;
        padding: auto 2rem;
        width: 100%;
        height: 4rem;
        z-index: 1;
    }
    .logo img{
        height: 4rem;
    }
    .navbar{
        box-sizing: border-box;
        position: absolute;
        right: 0;
        top: 4.5rem;
        background-color: darkblue;
        display: flex;
        flex-direction: column;
        min-height: 70vh;
        width: 70%;
        transform: translatex(100%);  
        transition: transform 0.5s ease-in; 
        opacity: .9;
    }
    .navbar img{
        height: 1rem;
        display: none;
    }
    .navbar ul{
        list-style-type: none;
        cursor: pointer;
    }
    .navbar ul li{
        margin: 1rem auto;
        text-decoration: black;
        color: #fff;
    }
    .navbar ul li a{
        list-style-type: disc;
        margin: 1rem auto;
        text-decoration: none;
        color: #fff;
    }
    .navbar ul li ul li{
        list-style: circle;
    }
    .hidden{
        display: none;
        margin: .25rem 2rem;
        padding: .25rem;
        width: 50%;
        opacity: .9;
    }
    .nav-active{
        transform: translateX(0%);
    }
    .burger{
        order:3;
        border: 2px  solid darkblue;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 20%;
        padding: .25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .burger .line{
        height: 4px;
        width: 1.5rem;
        margin: 2px;
        background-color: darkblue;
    }
    .reveal{
        display: block;
    }
    .hide{
        display: none;
    }
    .bread .line1{
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .bread .line2{
        opacity: 0;
    }
    .bread .line3{
        transform: rotate(45deg) translate(-5px, -6px);
    }
    
    
    .headline, 
    .about-headline, 
    .contact-headline, 
    .faq-headline{
        height: 90vh;
        width: 100%;
    }
    .slider{
        background-color: #ddd;
        display: flex;
        flex-direction: column;
        height: 90vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .about-headline .slider{
        background-image: url(../images/05-big-item.jpg);
    }
    .contact-headline .slider{
        background-image: url(../images/banner-slide-1.jpg);
    }
    .faq-headline .slider{
        background-image: url(../images/banner-slide-2.jpg);
    }
    .about-headline .slider, 
    .contact-headline .slider, 
    .faq-headline .slider{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .slider .slider-left h2{
        color: #fff;
        font-size: 2.25rem;
    }
    .slider .slider-right a{
        color: #fff;
        text-decoration: none;
    }
    .headline .story{
        position:absolute;
        height: 90vh;
        width: 75%;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: darkblue;
    }
    .headline .story h1{
        font-size: 3rem;
        animation: anim8 .2s ease-in-out .5s
    }
    @keyframes anim8 {
        0% {
        opacity: 0;
        transform: scale(1) translateY(-2rem);
        }
        20% {
        opacity: 1;
        }
        89% {
        opacity: 1;
        transform: scale(1);
        }
        100% {
        opacity: 0;
        transform: translateY(1rem);
        }
    }
    .headline .story p{
        font-size: 1.5rem;
    }   
    

/* The dots/bullets/indicators */
.dot {
    height: 1rem;
    width: 1rem;
    margin: .5rem;
    background-color: #ccc;
    border-radius: 50%;
    transition: background-color 0.6s ease;
  }    
    /* Slideshow container */
    .slideshow-container {
        height: 90vh;
        width: 100%;
        display: flex;
        flex-direction: row;
}
    /* .slideshow-container img{
        height: 90vh;
        width: 100%;
    } */
    .three-dots{
        position: absolute;
        align-self: center;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    .mySlides{
        background-attachment:fixed;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 90vh;
        width: 100%;
    }
    .mySlides.one{
        background-image: url(../images/pexels-ono-kosuki-5999876.jpg);
    }
    .mySlides.two{
        background-image: url(../images/pexels-anna-shvets-5324975.jpg);
    }
    .mySlides.three{
        background-image: url(../images/pexels-lukas-669619.jpg);
    }
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s ease-in ;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: .7}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: .7}
  }
  
    
    
    


    .about-box{
        display: flex;
        flex-direction: column;
        margin: .5rem 0;
        padding: 1rem;
    }
    .about-box-1, 
    .about-box-2, 
    .product-box-1,  
    .product-box-2{
        display: flex;
        flex-direction: column;
        margin: .5rem 0;
        padding: 1rem;
    }
    .about-box-1{
        width: 100%;
        align-self: flex-start;
    }
    .inner-about-box{
        display: flex;
        flex-direction: column ;
        margin: .5rem 0;
        padding: .5rem 0;
        justify-content: space-around;
        align-items: center;
    }
    .inner-about-box img{
        height: 5rem;
    }
    .inner-about-text{
        width: 70%;
    }
    .about, 
    .about-content, 
    .faq-content, 
    .more-content, 
    .products{
        width: 100%;
        display: flex;
        margin: 2.5rem auto;
        flex-direction: column;
        justify-content: space-between;
    }
    .about-left, 
    .contact-story{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .about-story{
        margin: .25rem;
        padding: .5rem;
    }
    .about-buttons{
        padding: .5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .about-buttons button{
        margin: .25rem;
        padding: .25rem .5rem;
        outline: none;
        border: none;
        background-color: skyblue;
        color: #fff;
        border-radius: .25rem;
        font-size: 14px;
        text-transform: uppercase;
    }
    .about-about{
        margin: .125rem;
        padding: .5rem;
    }
    #history:hover, 
    #mission:hover, 
    #vision:hover{
        border-bottom: 2px darkblue solid;
    }
    .active-button{
        border-bottom: 2px darkblue solid;
    }
    .about-active{
        margin: .125rem;
        padding: .5rem;
    }
    #history-story, 
    #mission-story, 
    #vision-story{
        display: none;
    }
    .learn-more{
        margin: .25rem 1rem;
        padding: .25rem 1rem;
    }
    .learn-more button{
        padding: .5rem;
    }
    .about-right{
        width: 100%;
        padding: .5rem ;
        margin: 1rem auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .about-right img{
        height: 18rem;
    } 
    .contact-content .form{
        padding: 1rem;
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: space-between;
    }
    .contact-content form{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 1rem;
        padding: 1rem;
        border-radius: .5rem;
    }
    .contact-content form input[type=text], 
    .contact-content form textarea{
        border: 0;
        outline: 0;
        width: 75%;
        padding: .5rem;
        margin: .5rem;
        border-radius: .5rem;
        background-color: #eee;
    }
    .contact-content form input[type=submit]{
        background-color: darkblue;
        border:none;
        color: #fff;
        padding: .5rem;
        margin: .5rem;
        border-radius: .5rem;
        cursor: pointer;
    }
    input::placeholder, 
    textarea::placeholder{
        font-weight: bold;
    }
    .faq-left{
        padding: .5rem;
        margin: .5rem;
        display: flex;
        flex-direction: column;
    }
    .faq-right h3{
        cursor: pointer;
    }
    .faq-right .questions{
        margin: 1rem;
    }
    .fAns{
        display: none;
    }
    .faq-hide{
        display: block;
    }
    .more-content .more-left{
        order: 1;
        padding: 1rem;
        margin: auto;
        text-align: center;
    }
    .more-content .more-left h2{
        color: darkblue;
    }
    .more-content .more-right{
        order: 2;
        padding: .5rem;
        text-align: center;
    }
    .more-content .more-right button{
        padding: .75rem;
        margin: .25rem;
        border-radius: .5rem;
        border: none;
        background-color: darkblue;
        color: #fff;
        font-size: 1rem;

    }








    .product-card{
        min-width: 8rem;
        max-width: 50%;
        padding: .5rem;
        margin: .52rem auto;
        background-color: #fff;
        border: 1px solid #bbb;
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .product-img{
        height: 7rem;
        width: 7rem;
    }
    .product-card img{
        height: 7rem;
        width: 7rem;
        border-radius: .25rem;
    }
    .pro-details{
        list-style: none;
        text-align: center;
    }
    .pro-details h4{
        color: darkblue;
    }









    
    .services{
        display: flex;
        flex-direction: column;
    }
    .about-box-1 > h3, 
    .service-inner-1 > h3, 
    .footer-box h3, 
    .product-box-1 h3{
        color: darkblue;
        text-transform: uppercase;
    }
    .services-box{
        background-color: darkblue;
        color: #fff;
        margin: 1rem 0;
        padding: .5rem ;
    }
    
    
    
    .footer{
        display: flex;
        flex-direction: column;
        margin: 3rem 0 0 0;
        text-align: center;
    }
    .footer-info{
        display: flex;
        flex-direction: column;
        margin: 1rem auto;
        padding: 0;
    }
    .footer ul{
        list-style: none;
    }
    .footer ul li a{
        text-decoration: none;
    }
    .footer-box{
        margin: auto;
        padding: 0;
    }
    .footer-box img{
        height: 2.25rem;
        margin: .5rem;
    }
    .copyright{
        text-align: center;
        background-color: #333;
        padding: 1rem;
        color: #fff;
    } 
    
    
    

    
    
    .float{
        justify-self: flex-end;
        bottom: 2rem;
        right: 2rem;
        position: fixed;
        opacity: .8;
        display: none;
    }
    .float img{
        height: 4rem;
        border-radius: .25rem;
    }
    

} 